@import "tailwindcss";

body {
  background-color: black;
}

/* 👇 Your custom slider animation */
@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 20s linear infinite;
  }
}
